@page
@model Web.Pages.FollowupOrdersModel
@{
    ViewData["Title"] = "سفارشات من";
}
@section CssRefs{
    <link rel="stylesheet" href="/Layout/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Layout/css/animate.min.css">
    <link rel="stylesheet" href="/Layout/css/magnific-popup.css">
    <link rel="stylesheet" href="/Layout/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/Layout/css/jquery-ui.css">
    <link rel="stylesheet" href="/Layout/css/flaticon.css">
    <link rel="stylesheet" href="/Layout/css/aos.css">
    <link rel="stylesheet" href="/Layout/css/slick.css">
    <link rel="stylesheet" href="/Layout/css/default.css">
    <link rel="stylesheet" href="/Layout/css/style.css">
    <link rel="stylesheet" href="/Layout/css/responsive.css">
}
@section Header{
    @await Component.InvokeAsync("HeaderComponent")
    }
@section Nav{
    @await Component.InvokeAsync("MenuComponent")
    }
<main>
    <section class="breadcrumb-area breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-content">
                        <h2 class="title">سفارشات من</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">صفحه نخست</a></li>
                                <li class="breadcrumb-item active" aria-current="page">سفارشات من در عصاره طبیعت</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section Footer{
    @await Component.InvokeAsync("FooterComponent")
    }
@section JsRefs{
    
    <script src="~/Layout/js/vendor/jquery.min.js"></script>
    <script src="/Layout/js/bootstrap.min.js"></script>
    <script src="/Layout/js/isotope.pkgd.min.js"></script>
    <script src="/Layout/js/imagesloaded.pkgd.min.js"></script>
    <script src="/Layout/js/jquery.magnific-popup.min.js"></script>
    <script src="/Layout/js/jquery.countdown.min.js"></script>
    <script src="/Layout/js/jquery-ui.min.js"></script>
    <script src="/Layout/js/slick.min.js"></script>
    <script src="/Layout/js/ajax-form.js"></script>
    <script src="/Layout/js/wow.min.js"></script>
    <script src="/Layout/js/aos.js"></script>
    <script src="/Layout/js/plugins.js"></script>
    <script src="/Layout/js/main.js"></script>
    }