@page "/AccessDenied"
@model Web.Pages.Account.AccessDeniedModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>عدم دسترسی</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Custom Theme files -->
    <link href="~/Layout/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Layout/css/RegStyleSheet.css" rel="stylesheet" />
    <!-- //Custom Theme files -->
    <!-- web font -->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- //web font -->
    <link rel="canonical" href="https://osaretabieat.ir/Login" />
</head>

<body dir="rtl" lang="fa">
    <!-- main -->
    <div class="main-w3layouts wrapper container">
        <h1 class="text-danger justify-content-center align-content-center  text-center" style="height:100mm;margin-top:5cm;">مجوز دسترسی شما معتبر نمی باشد !</h1>
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- //main -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    

</body>
</html>
