<section class="discount-style-two pt-60 pb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="discount-item-two">
                    <div class="discount-thumb">
                        <img src="/Layout/img/product/s_discount_img01.jpg" alt="">
                    </div>
                    <div class="discount-content">
                        <span>غذای سالم</span>
                        <h4 class="title"><a href="shop.html">مزرعه ارگانیک برای گانیک</a></h4>
                        <p>پیشنهاد فوق العاده تا 50٪ تخفیف</p>
                        <a href="shop.html" class="btn rounded-btn">الان بخرید</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="discount-item-two">
                    <div class="discount-thumb">
                        <img src="/Layout/img/product/s_discount_img02.jpg" alt="">
                    </div>
                    <div class="discount-content">
                        <span>غذای سالم</span>
                        <h4 class="title"><a href="shop.html">مزرعه ارگانیک برای گانیک</a></h4>
                        <p>پیشنهاد فوق العاده تا 50٪ تخفیف</p>
                        <a href="shop.html" class="btn rounded-btn">الان بخرید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>