<div class="coupon-area gray-bg pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="coupon-bg">
                    <div class="coupon-title">
                        <span>کد تخفیف</span>
                        <h3 class="title">کد تخفیف 3 هزار تومانی دریافت کنید</h3>
                    </div>
                    <div class="coupon-code-wrap">
                        <h5 class="code">ganic21abs</h5>
                        <img src="/Layout/img/images/coupon_code.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>