@model DataLayer.Entities.Supplementary.Slider

@{
    ViewData["Title"] = "ویرایش اسلایدر";

}
<h1 class="text-xs-center alert alert-info">ویرایش اسلاید</h1>
<h3 class="text-xs-center">
    ابعاد تصویر دسکتاب : عرض 1085 و ارتفاع 528 باشد | حجم 50 کیلوبایت<br />
</h3>
<div class="container-fluid">
    <div class="row">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Image" />
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label><span class="text-danger">*</span>
                    <input asp-for="Image" type="file" class="form-control" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text1" class="control-label"></label>
                    <input asp-for="Text1" class="form-control" />
                    <span asp-validation-for="Text1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text1Class" class="control-label"></label>
                    <select asp-for="Text1Class" class="form-control">
                        <option value="">انتخاب کنید...</option>
                        <option value="title">title</option>
                        <option value="sub-title">sub-title</option>
                    </select>
                    <span asp-validation-for="Text1Class" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text1Dir" class="control-label"></label>
                    <select asp-for="Text1Dir" class="form-control">
                        <option value="">انتخاب کنید...</option>
                        <option value="text-right">راست</option>
                        <option value="text-center">وسط</option>
                        <option value="text-left">چپ</option>
                    </select>
                    <span asp-validation-for="Text1Dir" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text1DataAnimation" class="control-label"></label>
                    <select asp-for="Text1DataAnimation" class="form-control">
                        <option value="">انتخاب کنید ...</option>
                        <option value="bounceIn">bounceIn</option>
                        <option value="bounceInDown">bounceInDown</option>
                        <option value="bounceInLeft">bounceInLeft</option>
                        <option value="bounceInRight">bounceInRight</option>
                        <option value="bounceInUp">bounceInUp</option>
                        <option value="fadeInDown">fadeInDown</option>
                        <option value="fadeInLeft">fadeInLeft</option>
                        <option value="fadeInRight">fadeInRight</option>
                        <option value="fadeInUp">fadeInUp</option>
                        <option value="flip">flip</option>
                        <option value="flipInX">flipInX</option>
                        <option value="flipInY">flipInY</option>
                        <option value="rotateIn">rotateIn</option>
                        <option value="zoomIn">zoomIn</option>
                        <option value="zoomInDown">zoomInDown</option>
                        <option value="zoomInLeft">zoomInLeft</option>
                        <option value="zoomInRight">zoomInRight</option>
                        <option value="zoomInUp">zoomInUp</option>
                    </select>
                    <span asp-validation-for="Text1DataAnimation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text1DataDelay" class="control-label"></label>
                    <input asp-for="Text1DataDelay" class="form-control" />
                    <span asp-validation-for="Text1DataDelay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text2" class="control-label"></label>
                    <input asp-for="Text2" class="form-control" />
                    <span asp-validation-for="Text2" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label asp-for="Text2Class" class="control-label"></label>
                    <select asp-for="Text2Class" class="form-control">
                        <option value="">انتخاب کنید...</option>
                        <option value="title">title</option>
                        <option value="sub-title">sub-title</option>
                    </select>
                    <span asp-validation-for="Text2Class" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text2Dir" class="control-label"></label>
                    <select asp-for="Text2Dir" class="form-control">
                        <option value="">انتخاب کنید...</option>
                        <option value="text-right">راست</option>
                        <option value="text-center">وسط</option>
                        <option value="text-left">چپ</option>
                    </select>
                    <span asp-validation-for="Text2Dir" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text2DataAnimation" class="control-label"></label>
                    <select asp-for="Text2DataAnimation" class="form-control">
                        <option value="">انتخاب کنید ...</option>
                        <option value="bounceIn">bounceIn</option>
                        <option value="bounceInDown">bounceInDown</option>
                        <option value="bounceInLeft">bounceInLeft</option>
                        <option value="bounceInRight">bounceInRight</option>
                        <option value="bounceInUp">bounceInUp</option>
                        <option value="fadeInDown">fadeInDown</option>
                        <option value="fadeInLeft">fadeInLeft</option>
                        <option value="fadeInRight">fadeInRight</option>
                        <option value="fadeInUp">fadeInUp</option>
                        <option value="flip">flip</option>
                        <option value="flipInX">flipInX</option>
                        <option value="flipInY">flipInY</option>
                        <option value="rotateIn">rotateIn</option>
                        <option value="zoomIn">zoomIn</option>
                        <option value="zoomInDown">zoomInDown</option>
                        <option value="zoomInLeft">zoomInLeft</option>
                        <option value="zoomInRight">zoomInRight</option>
                        <option value="zoomInUp">zoomInUp</option>
                    </select>
                    <span asp-validation-for="Text2DataAnimation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text2DataDelay" class="control-label"></label>
                    <input asp-for="Text2DataDelay" class="form-control" />
                    <span asp-validation-for="Text2DataDelay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text3" class="control-label"></label>
                    <input asp-for="Text3" class="form-control" />
                    <span asp-validation-for="Text3" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text3Class" class="control-label"></label>
                    <select asp-for="Text3Class" class="form-control">
                        <option value="">انتخاب کنید...</option>
                        <option value="title">title</option>
                        <option value="sub-title">sub-title</option>
                    </select>
                    <span asp-validation-for="Text3Class" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text3Dir" class="control-label"></label>
                    <select asp-for="Text3Dir" class="form-control">
                        <option value="">انتخاب کنید...</option>
                        <option value="text-right">راست</option>
                        <option value="text-center">وسط</option>
                        <option value="text-left">چپ</option>
                    </select>
                    <span asp-validation-for="Text3Dir" class="text-danger"></span>
                </div>

            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label asp-for="Text3DataAnimation" class="control-label"></label>
                    <select asp-for="Text3DataAnimation" class="form-control">
                        <option value="">انتخاب کنید ...</option>
                        <option value="bounceIn">bounceIn</option>
                        <option value="bounceInDown">bounceInDown</option>
                        <option value="bounceInLeft">bounceInLeft</option>
                        <option value="bounceInRight">bounceInRight</option>
                        <option value="bounceInUp">bounceInUp</option>
                        <option value="fadeInDown">fadeInDown</option>
                        <option value="fadeInLeft">fadeInLeft</option>
                        <option value="fadeInRight">fadeInRight</option>
                        <option value="fadeInUp">fadeInUp</option>
                        <option value="flip">flip</option>
                        <option value="flipInX">flipInX</option>
                        <option value="flipInY">flipInY</option>
                        <option value="rotateIn">rotateIn</option>
                        <option value="zoomIn">zoomIn</option>
                        <option value="zoomInDown">zoomInDown</option>
                        <option value="zoomInLeft">zoomInLeft</option>
                        <option value="zoomInRight">zoomInRight</option>
                        <option value="zoomInUp">zoomInUp</option>
                    </select>
                    <span asp-validation-for="Text3DataAnimation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text3DataDelay" class="control-label"></label>
                    <input asp-for="Text3DataDelay" class="form-control" />
                    <span asp-validation-for="Text3DataDelay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkText" class="control-label"></label>
                    <input asp-for="LinkText" class="form-control" />
                    <span asp-validation-for="LinkText" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkUrl" class="control-label"></label>
                    <input asp-for="LinkUrl" class="form-control" />
                    <span asp-validation-for="LinkUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkDataAnimation" class="control-label"></label>
                    <select asp-for="LinkDataAnimation" class="form-control">
                        <option value="">انتخاب کنید ...</option>
                        <option value="bounceIn">bounceIn</option>
                        <option value="bounceInDown">bounceInDown</option>
                        <option value="bounceInLeft">bounceInLeft</option>
                        <option value="bounceInRight">bounceInRight</option>
                        <option value="bounceInUp">bounceInUp</option>
                        <option value="fadeInDown">fadeInDown</option>
                        <option value="fadeInLeft">fadeInLeft</option>
                        <option value="fadeInRight">fadeInRight</option>
                        <option value="fadeInUp">fadeInUp</option>
                        <option value="flip">flip</option>
                        <option value="flipInX">flipInX</option>
                        <option value="flipInY">flipInY</option>
                        <option value="rotateIn">rotateIn</option>
                        <option value="zoomIn">zoomIn</option>
                        <option value="zoomInDown">zoomInDown</option>
                        <option value="zoomInLeft">zoomInLeft</option>
                        <option value="zoomInRight">zoomInRight</option>
                        <option value="zoomInUp">zoomInUp</option>
                    </select>
                    <span asp-validation-for="LinkDataAnimation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkDataDelay" class="control-label"></label>
                    <input asp-for="LinkDataDelay" class="form-control" />
                    <span asp-validation-for="LinkDataDelay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkClass" class="control-label"></label>
                    <input asp-for="LinkClass" class="form-control" />
                    <span asp-validation-for="LinkClass" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-primary  col-md-4 col-xs-12" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index">بازگشت</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
