<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <!-- main menu header-->
    <div class="main-menu-header">
        <input type="text" placeholder="Search" class="menu-search form-control round" />
    </div>
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

            <li class=" nav-item">
                <a href="#"><i class="icon-home3"></i><span data-i18n="nav.dash.main" class="menu-title">مدیریت</span></a>
                <ul class="menu-content">
                    <li>
                        <a href="#" class="menu-item"><i class="icon-server"></i>امکانات سایت</a>
                        <ul class="menu-content">
                            <li>
                                <a href="/UsersPanel/UploadCenters/Index" class="menu-item"><i class="icon-upload text-primary"></i> آپلود سنتر</a>
                            </li>
                            <li >
                                <a href="~/UsersPanel/Commons/FileBrowser" class="menu-item"><i class="icon-upload5 text-info"></i>فایلهای آپلودی CK</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Sliders/Index" class="menu-item"><i class="icon-monitor3 text-primary"></i>اسلایدر</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/BannerNextBases/Index" class="menu-item"><i class="icon-image4 text-info"></i>بنرهای کنار اسلایدر</a>
                            </li>
                            <li>                                
                            </li>
                            <li>
                                <a href="/UsersPanel/PageBanners/Index" class="menu-item"><i class="icon-image text-success"></i>بنرهای صفحه اصلی</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/StorePageBanners/Index" class="menu-item"><i class="icon-images text-primary"></i>بنرهای صفحه فروشگاه</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/SiteInfoes/Index" class="menu-item"><i class="icon-info text-info"></i>اطلاعات سایت</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/FAQs/Index" class="menu-item"><i class="icon-question text-primary"></i>پرسش و پاسخ</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/States/Index" class="menu-item"><i class="icon-map-signs text-info"></i>استانها</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Terms/Index" class="menu-item"><i class="icon-rupee text-danger"></i>شرایط و ضوابط</a>
                            </li>
                            <li>
                                <a href="#" class="menu-item"><i class="icon-paper"></i>مجله تندرستی</a>
                                <ul class="menu-content">
                                    <li>
                                        <a href="/UsersPanel/BlogGroups/Index" class="menu-item"><i class="icon-newspaper text-info"></i>گروه های خبر</a>
                                    </li>
                                    <li>
                                        <a href="/UsersPanel/Blogs/Index" class="menu-item"><i class="icon-news text-success"></i>اخبار</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="menu-item"><i class="icon-shop"></i>فروشگاه</a>
                        <ul class="menu-content">
                            <li>
                                <a href="/UsersPanel/Status" class="menu-item"><i class="icon-align-justify text-success"></i>وضعیت های سفارش</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/ProductGroups" class="menu-item"><i class="icon-make-group text-info"></i>گروه های کالا</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Products" class="menu-item"><i class="icon-object-group text-primary"></i>کالاها</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/WareHouses" class="menu-item"><i class="icon-book text-info"></i>دفتر انبار</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/DiscountCoupens" class="menu-item"><i class="icon-ios-bookmarks text-success"></i>کوپن تخفیف</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/BestDeals" class="menu-item"><i class="icon-gear text-primary"></i>تنظیمات نمایش تخفیفات</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="menu-item"><i class="icon-book3"></i>گزارشات</a>
                        <ul class="menu-content">
                            <li>
                                <a href="/UsersPanel/Users/Index" class="menu-item"><i class="icon-users text-info"></i>کاربران</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Carts/GetCarts" class="menu-item"><i class="icon-bag2 text-warning"></i>سبدهای خرید</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Carts/Index" class="menu-item"><i class="icon-paper text-success"></i>فاکتورها</a>
                            </li>
                            <li>
                                <a href="/UsersPanel/Reports/CustomerContacts" class="menu-item"><i class="icon-android-textsms text-primary"></i>پیام های صفحه تماس</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>